.container {
    width: var(--xl-container);
    padding: 0 var(--container-padding);
    background: var(--main-bg-color);
    margin: 0 auto;
    min-height: 100vh;
}

@media screen and (max-width: 1600px) {
    .container {
        width: auto;
    }
}