/* Control panel wrapper */
.control__panel {
    background: var(--purple-linear-color);
    height: fit-content;
    flex: 15%;
}

.control__panel >:first-child {
    border-top: none !important;
}

.control__panel > * {
    border-top: 1px solid black;
    padding: 10px 0;
}

/* Search */
.panel__search {
    display:flex; 
    justify-content: center;
    align-items: center;
}

.panel__search input {
    outline: none !important;
    padding: 5px;
    border: 2px solid black;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 0 10px;
}

.panel__search input:focus {
    border: 2px solid var(--light-blue);
}


/* Price range */
.panel__price-wrapper {
}

.panel__price-range {
    position: relative;
    padding: 10px;
    margin: 0 10px;
}

.panel__price-range input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background-color: transparent;
    pointer-events: none;
}



.range__slider-track {
    width: 100%;
    height: 5px;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: var(--alt3-bg-color);
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: var(--alt3-bg-color);
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--alt3-bg-color);
    pointer-events: auto;
}

/* Slider values */
.range__value-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range__values {
    background: var(--purple-linear-color);
    color: goldenrod;
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}


/* Calendar */

.panel__calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.panel__calendar input {
    padding: 2px;
}


/* Filter */
.panel__filter {

}
